Repository NomicFoundation/hardhat, pull requests merged in 2021-05, with the labels that each got.

#1453 Improve and simplify hardhat-etherscan error message
  packages/hardhat-etherscan/src/index.ts
  packages/hardhat-etherscan/src/network/prober.ts
Labels: package:hardhat-etherscan

#1328 Add `debug_traceTransaction` RPC method
  docs/hardhat-network/README.md
  packages/hardhat-core/scripts/test-debug-trace-transaction.ts
  packages/hardhat-core/scripts/test-run-forked-block.ts
  packages/hardhat-core/src/internal/core/jsonrpc/types/access-list.ts
  packages/hardhat-core/src/internal/core/jsonrpc/types/input/debugTraceTransaction.ts
  packages/hardhat-core/src/internal/core/jsonrpc/types/output/transaction.ts
  packages/hardhat-core/src/internal/hardhat-network/jsonrpc/client.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/fork/ForkBlockchain.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/fork/rpcToTxData.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/modules/debug.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/modules/eth.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/output.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/vm-debug-tracer.ts
  packages/hardhat-core/test/fixture-debug-traces/mainnetReturnsDataTrace.ts
  packages/hardhat-core/test/fixture-debug-traces/mainnetReturnsDataTraceGeth.ts
  packages/hardhat-core/test/fixture-debug-traces/mainnetRevertTrace.ts
  packages/hardhat-core/test/fixture-debug-traces/modifiesStateTrace.ts
  packages/hardhat-core/test/fixture-debug-traces/types.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/constants.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/providers.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/sendDummyTransaction.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/useProvider.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/debug.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/eth.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/utils/assertEqualBlocks.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/utils/assertEqualTraces.ts
Labels: package:hardhat-core

#1291 Add Proxy for Fetch in download.ts - Resolves issue 1280
  docs/guides/compile-contracts.md
  packages/hardhat-core/package.json
  packages/hardhat-core/src/internal/util/download.ts
  packages/hardhat-core/test/internal/util/download.ts
  yarn.lock
Labels: package:hardhat-core

#1456 Reset ethers provider after evm_revert
  packages/hardhat-core/src/internal/constants.ts
  packages/hardhat-core/src/internal/core/providers/http.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
  packages/hardhat-ethers/src/internal/provider-proxy.ts
  packages/hardhat-ethers/test/index.ts
Labels: package:hardhat-core, package:hardhat-ethers

#1260 Allow contract.only in hardhat-truffle
  packages/hardhat-truffle4/src/index.ts
  packages/hardhat-truffle4/src/type-extensions.ts
  packages/hardhat-truffle5/src/index.ts
  packages/hardhat-truffle5/src/type-extensions.ts
Labels: package:hardhat-truffle4, package:hardhat-truffle5
