Repository NomicFoundation/hardhat, pull requests merged in 2021-11, with the labels that each got.

#1560 Fix the returned cumulative gas used and log index in transaction receipts
  .changeset/orange-brooms-prove.md
  packages/hardhat-core/src/internal/core/jsonrpc/types/output/log.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/fork/ForkBlockchain.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/output.ts
  packages/hardhat-core/test/internal/hardhat-network/jsonrpc/client.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/fork/ForkBlockchain.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/eth/methods/getTransactionReceipt.ts
Labels: pr:to-review

#2090 Configurable coinbase
  .changeset/giant-candles-accept.md
  docs/hardhat-network/reference/README.md
  packages/hardhat-core/src/internal/core/config/config-validation.ts
  packages/hardhat-core/src/internal/core/providers/construction.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/modules/hardhat.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/node-types.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
  packages/hardhat-core/src/types/config.ts
  packages/hardhat-core/test/fixture-projects/hardhat-network-with-custom-coinbase/hardhat.config.js
  packages/hardhat-core/test/internal/core/config/config-validation.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/useProvider.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/hardhat-network-options.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/eth/methods/getBlockByHash.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/eth/methods/getBlockByNumber.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/eth/methods/index.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/hardhat.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/node.ts
Labels: type:feature, package:hardhat-core

#2100 Update "building-plugins" doc to change example task signature
  docs/advanced/building-plugins.md
Labels: type:docs
