Repository NomicFoundation/hardhat, pull requests merged in 2021-12, with the labels that each got.

#2114 Add custom formatter for BigNumber's in console
  .changeset/wise-nails-lick.md
  packages/hardhat-ethers/src/internal/index.ts
  packages/hardhat-ethers/test/index.ts
Labels: package:hardhat-ethers

#2089 Document the FIFO mempool mode
  docs/hardhat-network/explanation/mining-modes.md
  docs/hardhat-network/reference/README.md
Labels: type:docs

#2102 Fix recovering from malformed compiler list
  .changeset/strange-rocks-poke.md
  packages/hardhat-core/src/internal/solidity/compiler/downloader.ts
  packages/hardhat-core/src/internal/util/download.ts
  packages/hardhat-core/test/internal/solidity/compiler/downloader.ts
Labels: type:bug
