Repository NomicFoundation/hardhat, pull requests merged in 2021-03, with the labels that each got.

#1244 Add warning for unsupported Solidity versions
  docs/.vuepress/config.js
  docs/reference/solidity-support.md
  packages/hardhat-core/src/internal/cli/cli.ts
  packages/hardhat-core/src/internal/core/config/config-loading.ts
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/solidityTracer.ts
  packages/hardhat-core/test/fixture-projects/solidity-config-warnings/config-without-solidity.js
  packages/hardhat-core/test/fixture-projects/solidity-config-warnings/multiple-unsupported-solc.js
  packages/hardhat-core/test/fixture-projects/solidity-config-warnings/unsupported-new-solc.js
  packages/hardhat-core/test/fixture-projects/solidity-config-warnings/unsupported-solc-in-override.js
  packages/hardhat-core/test/internal/core/config/config-loading.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/node.ts
Labels: package:hardhat-core

#1319 Relax how we check if an error is a VmError
  packages/hardhat-core/src/internal/hardhat-network/provider/node.ts
Labels: package:hardhat-core

#1284 Fix HRE injection into the global scope
  packages/hardhat-core/src/internal/core/runtime-environment.ts
  packages/hardhat-core/src/internal/reset.ts
  packages/hardhat-core/test/internal/core/runtime-environment.ts
Labels: package:hardhat-core

#1309 fix: pad mixHash to 32 bytes
  packages/hardhat-core/src/internal/hardhat-network/provider/output.ts
Labels: package:hardhat-core

#1248 Add hardhat-etherscan-abi plugin
  docs/.vuepress/plugins.js
Labels: type:docs

#1333 Add ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE.md
Labels: type:chore

#1327 Sort batched responses by id
  packages/hardhat-core/src/internal/core/providers/http.ts
Labels: package:hardhat-core

#1331 Add HECO to hardhat-etherscan
  packages/hardhat-etherscan/src/network/prober.ts
Labels: package:hardhat-etherscan
