Repository NomicFoundation/hardhat, pull requests merged in 2021-02, with the labels that each got.

#1224 Fix Istnbul/Muir Glacier support
  packages/hardhat-core/package.json
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/opcodes.ts
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/opcodes.ts
  packages/hardhat-truffle4/package.json
  packages/hardhat-truffle5/package.json
  yarn.lock
Labels: package:hardhat-core

#1189 Add JSON-RPC `eth_signTypedData_v4` method to Hardhat Network.
  packages/hardhat-core/src/internal/hardhat-network/provider/modules/eth.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/eth.ts
  packages/hardhat-ethers/src/signers.ts
  packages/hardhat-ethers/test/index.ts
Labels: package:hardhat-core, package:hardhat-ethers

#1207 Fix Kovan and xDai Hardhat forking
  packages/hardhat-core/src/internal/hardhat-network/jsonrpc/types.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/fork/ForkBlockchain.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/fork/ForkBlockchain.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/forked-provider.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/test/setup.ts
Labels: package:hardhat-core

#1210 Fix console.log unsigned int print.
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/consoleLogger.ts
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_5/console-logs/uint/most-significant-bit-set/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_5/console-logs/uint/most-significant-bit-set/test.json
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_6/console-logs/uint/most-significant-bit-set/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_6/console-logs/uint/most-significant-bit-set/test.json
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_7/console-logs/uint/most-significant-bit-set/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_7/console-logs/uint/most-significant-bit-set/test.json
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test.ts
Labels: package:hardhat-core

#1211 Fix Solidity AST parser for at least one kind of function parameters in solc v0.8
  packages/hardhat-core/src/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/compiler-to-model.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/eth.ts
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/special-cases/private-function-with-strange-types/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/special-cases/private-function-with-strange-types/test.json
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test.ts
Labels: package:hardhat-core

#979 Set relative block timestamp and proper nonces in forked network
  packages/hardhat-core/src/builtin-tasks/node.ts
  packages/hardhat-core/src/internal/hardhat-network/jsonrpc/client.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/fork/ForkStateManager.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/utils/makeForkClient.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/forked-provider.ts
Labels: package:hardhat-core

#1239 (WIP) Add node 14 and 15 to CI
  .github/workflows/CI.yml
  packages/hardhat-core/package.json
  yarn.lock
Labels: package:hardhat-core

#1240 Fix tests that depend on a 0 nonce
  packages/hardhat-core/test/internal/hardhat-network/helpers/providers.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/eth.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/evm.ts
Labels: package:hardhat-core

#1087 Add transaction pool and support for "pending" block tag parameter
  config/typescript/@types/merkle-patricia-tree/index.d.ts
  config/typescript/@types/mnemonist/index.d.ts
  packages/hardhat-core/package.json
  packages/hardhat-core/src/internal/core/config/config-resolution.ts
  packages/hardhat-core/src/internal/core/config/default-config.ts
  packages/hardhat-core/src/internal/core/providers/construction.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/MiningTimer.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/PoolState.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/TxPool.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/TxPriorityHeap.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/fork/AccountState.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/fork/ForkStateManager.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/input.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/modules/eth.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/modules/evm.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/modules/logger.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/node-types.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/output.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/types/LoggedError.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/utils/bnToHex.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/utils/reorganizeTransactionsLists.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/utils/txMapToArray.ts
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/vm-tracer.ts
  packages/hardhat-core/src/types/config.ts
  packages/hardhat-core/test/helpers/errors.ts
  packages/hardhat-core/test/internal/core/config/config-resolution.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/assertEqualTransactionMaps.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/assertions.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/blockchain.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/contracts.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/makeOrderedTxMap.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/providers.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/sendDummyTransaction.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/sleep.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/useProvider.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/MiningTimer.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/TxPool.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/TxPriorityHeap.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/interval-mining-provider.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/eth.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/evm.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/hardhat.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/net.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/modules/web3.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/retrieveNonce.ts
  packages/hardhat-core/test/internal/hardhat-network/provider/utils/reorganizeTransactionsLists.ts
  yarn.lock
Labels: package:hardhat-core

#1264 Add hardhat-tracer plugin
  docs/.vuepress/plugins.js
Labels: type:docs
