Repository NomicFoundation/hardhat, pull requests merged in 2023-11, with the labels that each got.

#4548 feat: EDR RPC send transaction
  Cargo.lock
  crates/edr/Cargo.toml
  crates/edr/tests/cli.rs
  crates/edr_eth/src/remote/methods.rs
  crates/edr_eth/src/transaction.rs
  crates/edr_eth/src/transaction/request.rs
  crates/edr_eth/src/transaction/signed.rs
  crates/edr_eth/tests/integration_tests.rs
  crates/edr_evm/src/lib.rs
  crates/edr_evm/src/mempool.rs
  crates/edr_evm_napi/src/blockchain.rs
  crates/edr_rpc_server/Cargo.toml
  crates/edr_rpc_server/src/config.rs
  crates/edr_rpc_server/src/lib.rs
  crates/edr_rpc_server/src/node.rs
  crates/edr_rpc_server/src/node/node_data.rs
  crates/edr_rpc_server/src/node/node_error.rs
  crates/edr_rpc_server/src/server.rs
  crates/edr_rpc_server/tests/integration_tests.rs
Labels: area:edr

#4552 Fix vyper downloader
  .changeset/tough-geese-tie.md
  packages/hardhat-vyper/src/downloader.ts
Labels: status:ready

#4553 refactor: do not insert pending block in blockchain
  crates/edr_evm/src/block/builder.rs
  crates/edr_evm/src/miner.rs
  crates/edr_evm/src/random.rs
  crates/edr_evm_napi/index.d.ts
  crates/edr_evm_napi/src/block/builder.rs
  crates/edr_evm_napi/src/miner.rs
  crates/edr_evm_napi/src/miner/result.rs
  crates/edr_rpc_server/src/node.rs
  crates/edr_rpc_server/src/node/node_data.rs
  crates/edr_rpc_server/src/node/node_error.rs
  crates/edr_rpc_server/src/server.rs
  packages/hardhat-core/src/internal/hardhat-network/provider/miner/edr.ts
Labels: status:triaging, area:edr

#4446 Add a better mechanism for variables management
  .changeset/shiny-candles-begin.md
  docs/src/content/hardhat-runner/docs/advanced/_dirinfo.yaml
  docs/src/content/hardhat-runner/docs/advanced/migrating-from-hardhat-waffle.md
  docs/src/content/hardhat-runner/docs/guides/_dirinfo.yaml
  docs/src/content/hardhat-runner/docs/guides/configuration-variables.md
  packages/hardhat-core/src/builtin-tasks/vars.ts
  packages/hardhat-core/src/internal/cli/cli.ts
  packages/hardhat-core/src/internal/cli/vars.ts
  packages/hardhat-core/src/internal/context.ts
  packages/hardhat-core/src/internal/core/config/config-env.ts
  packages/hardhat-core/src/internal/core/config/config-loading.ts
  packages/hardhat-core/src/internal/core/errors-list.ts
  packages/hardhat-core/src/internal/core/tasks/builtin-tasks.ts
  packages/hardhat-core/src/internal/core/vars/vars-manager-setup.ts
  packages/hardhat-core/src/internal/core/vars/vars-manager.ts
  packages/hardhat-core/src/internal/util/global-dir.ts
  packages/hardhat-core/test/fixture-projects/vars/setup-error-to-throw/hardhat.config.js
  packages/hardhat-core/test/fixture-projects/vars/setup-filled/hardhat.config.js
  packages/hardhat-core/test/fixture-projects/vars/setup-to-fill/hardhat.config.js
  packages/hardhat-core/test/internal/cli/vars/vars.ts
  packages/hardhat-core/test/internal/core/config/vars.ts
  packages/hardhat-core/test/internal/core/scoped-tasks.ts
  packages/hardhat-core/test/internal/core/vars/vars-manager-setup.ts
  packages/hardhat-core/test/internal/core/vars/vars-manager.ts
Labels: status:ready

#4555 fix: vyper downloader in `edr/main`
  packages/hardhat-vyper/src/downloader.ts
Labels: area:edr

#4558 refactor: combine Node and NodeData
  crates/edr_rpc_server/src/node.rs
  crates/edr_rpc_server/src/node/account.rs
  crates/edr_rpc_server/src/node/node_data.rs
  crates/edr_rpc_server/src/server.rs
Labels: status:triaging, area:edr

#4560 Fix typo in configuration vars guide
  docs/src/content/hardhat-runner/docs/guides/configuration-variables.md
Labels: status:ready

#4529 Normalize input addresses to lowercase for comparison
  .changeset/real-coins-tease.md
  packages/hardhat-verify/src/internal/solc/artifacts.ts
  packages/hardhat-verify/src/internal/sourcify.ts
Labels: status:ready

#4549 add Sourcify example in "Advanced Usage" in readme
  packages/hardhat-verify/README.md
Labels: status:triaging, no changeset needed

#4557 Configuration variables: fix the failing CI tests caused by process.stdout.isTTY
  packages/hardhat-core/test/internal/cli/vars/vars.ts
Labels: status:ready, no changeset needed

#4531 Update viem guide with the latest blogpost info
  docs/src/content/hardhat-runner/docs/advanced/using-viem.md
Labels: status:ready, no changeset needed

#4559 feat: support impersonated accounts in send transaction in RPC
  Cargo.lock
  crates/edr/src/config.rs
  crates/edr_eth/Cargo.toml
  crates/edr_eth/src/transaction/request.rs
  crates/edr_eth/src/transaction/request/eip155.rs
  crates/edr_eth/src/transaction/request/eip1559.rs
  crates/edr_eth/src/transaction/request/eip2930.rs
  crates/edr_eth/src/transaction/request/eip4844.rs
  crates/edr_eth/src/transaction/request/fake_signature.rs
  crates/edr_eth/src/transaction/request/legacy.rs
  crates/edr_rpc_server/src/config.rs
  crates/edr_rpc_server/src/node.rs
  crates/edr_rpc_server/src/node/account.rs
  crates/edr_rpc_server/tests/integration_tests.rs
  crates/tools/src/benchmark.rs
  crates/tools/src/compare_test_runs.rs
  packages/hardhat-core/src/internal/hardhat-network/provider/transactions/FakeSenderAccessListEIP2930Transaction.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/transactions/FakeSenderEIP1559Transaction.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/transactions/FakeSenderTransaction.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/utils/makeFakeSignature.ts
  packages/hardhat-core/test/internal/core/providers/accounts.ts
Labels: area:edr

#4494 Fixed blockTag bug on contract lookup
  .changeset/eleven-pears-accept.md
  packages/hardhat-ethers/src/internal/hardhat-ethers-provider.ts
  packages/hardhat-ethers/test/hardhat-ethers-provider.ts
Labels: type:bug, status:ready, area:hardhat-ethers

#3962 Add Polygon zkEVM chain config on hardhat verify
  .changeset/friendly-ways-beg.md
  packages/hardhat-verify/src/internal/chain-config.ts
Labels: status:ready

#4522 Use relative paths in the recommended .gitignore
  .changeset/soft-lobsters-rush.md
  packages/hardhat-core/recommended-gitignore.txt
Labels: status:ready

#4550 Bug in compilation when multiple versions are used with many contracts
  .changeset/small-crews-kiss.md
  packages/hardhat-core/src/builtin-tasks/compile.ts
  packages/hardhat-core/src/internal/solidity/compiler/downloader.ts
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/compilation.ts
  packages/hardhat-core/test/internal/solidity/compiler/downloader.ts
  packages/hardhat-core/test/internal/solidity/compiler/index.ts
Labels: status:ready

#4564 Bump toolboxes
  .changeset/fair-tools-remember.md
  .changeset/quiet-cooks-sneeze.md
  .changeset/strong-mangos-tickle.md
  packages/hardhat-core/src/internal/cli/project-creation.ts
  packages/hardhat-toolbox-viem/package.json
  packages/hardhat-toolbox/package.json
  yarn.lock
Labels: status:ready

#4563 fix: update mem pool on irregular state change
  crates/edr_evm/src/mempool.rs
  crates/edr_evm/src/miner.rs
  crates/edr_evm_napi/src/transaction/ordered.rs
  crates/edr_rpc_server/src/node.rs
Labels: status:triaging, area:edr

#4577 feat: add `eth_getTransactionByHash` support
  crates/edr_eth/src/access_list.rs
  crates/edr_eth/src/remote/eth.rs
  crates/edr_eth/src/transaction/signed.rs
  crates/edr_evm/src/transaction/pending.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/requests/eth/transactions.rs
Labels: status:triaging, area:edr

#4574 Avoid using a maxPriorityFeePerGas of 0
  .changeset/old-phones-live.md
  packages/hardhat-core/src/internal/core/providers/gas-providers.ts
  packages/hardhat-core/test/internal/core/providers/gas-providers.ts
Labels: status:ready

#4580 Update stability-guarantees.md: fix broken link
  docs/src/content/hardhat-runner/docs/reference/stability-guarantees.md
Labels: no changeset needed

#4570 Add hardhat-web3-v4 package
  .github/workflows/hardhat-web3-v4-ci.yml
  package.json
  packages/hardhat-web3-v4/.eslintrc.js
  packages/hardhat-web3-v4/.gitignore
  packages/hardhat-web3-v4/.mocharc.json
  packages/hardhat-web3-v4/.prettierignore
  packages/hardhat-web3-v4/LICENSE
  packages/hardhat-web3-v4/README.md
  packages/hardhat-web3-v4/package.json
  packages/hardhat-web3-v4/src/index.ts
  packages/hardhat-web3-v4/src/type-extensions.ts
  packages/hardhat-web3-v4/test/.eslintrc.js
  packages/hardhat-web3-v4/test/fixture-projects/hardhat-project/contracts/Greeter.sol
  packages/hardhat-web3-v4/test/fixture-projects/hardhat-project/hardhat.config.js
  packages/hardhat-web3-v4/test/helpers.ts
  packages/hardhat-web3-v4/test/index.ts
  packages/hardhat-web3-v4/tsconfig.json
  packages/hardhat-web3-v4/web3-lazy-object-tests/when-accessing-web3-class.js
  packages/hardhat-web3-v4/web3-lazy-object-tests/when-accessing-web3-object.js
  packages/hardhat-web3-v4/web3-lazy-object-tests/when-requiring-web3-module.js
  yarn.lock
Labels: status:ready, no changeset needed

#4579 feat: add get transaction by index methods
  crates/edr_eth/src/remote.rs
  crates/edr_eth/src/remote/cacheable_method_invocation.rs
  crates/edr_eth/src/remote/methods.rs
  crates/edr_eth/tests/integration_tests.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/error.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/requests/eth/transactions.rs
Labels: area:edr

#4585 Fixes related to the pnpm migration
  .github/dependabot.yml
  .github/workflows/check-docs-site.yml
  .github/workflows/compile-with-typescript-v4.yml
  .npmrc
  docs/package.json
  package.json
Labels: status:ready, no changeset needed

#4588 feat: add `eth_getTransactionReceipt` support
  .github/workflows/hardhat-core-ci.yml
  Cargo.lock
  crates/edr_eth/Cargo.toml
  crates/edr_eth/src/log/block.rs
  crates/edr_eth/src/log/filter.rs
  crates/edr_eth/src/receipt.rs
  crates/edr_eth/src/receipt/block.rs
  crates/edr_evm/src/block/local.rs
  crates/edr_napi/src/log.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/requests/eth/transactions.rs
Labels: area:edr

#4590 refactor: remove async-trait
  Cargo.lock
  crates/edr_evm/Cargo.toml
  crates/edr_evm/src/block.rs
  crates/edr_evm/src/block/local.rs
  crates/edr_evm/src/block/remote.rs
  crates/edr_evm/src/blockchain.rs
  crates/edr_evm/src/blockchain/forked.rs
  crates/edr_evm/src/blockchain/local.rs
  crates/edr_evm/src/blockchain/remote.rs
  crates/edr_evm/src/miner.rs
  crates/edr_evm/src/runtime.rs
  crates/edr_evm/src/state.rs
  crates/edr_evm/tests/blockchain.rs
  crates/edr_napi/Cargo.toml
  crates/edr_napi/index.d.ts
  crates/edr_napi/src/block.rs
  crates/edr_napi/src/block/builder.rs
  crates/edr_napi/src/blockchain.rs
  crates/edr_napi/src/debug_trace.rs
  crates/edr_napi/src/mempool.rs
  crates/edr_napi/src/miner.rs
  crates/edr_napi/src/provider.rs
  crates/edr_napi/src/runtime.rs
  crates/edr_napi/src/state.rs
  crates/edr_napi/src/state/overrides.rs
  crates/edr_napi/src/transaction/pending.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/requests/eth/blockchain.rs
  crates/edr_provider/src/requests/eth/evm.rs
  crates/edr_provider/src/requests/eth/state.rs
  crates/edr_provider/src/requests/eth/transactions.rs
  crates/edr_provider/src/requests/hardhat/miner.rs
  crates/edr_provider/src/requests/hardhat/state.rs
  packages/hardhat-core/src/internal/hardhat-network/provider/blockchain/edr.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/miner/edr.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/block-builder/edr.ts
Labels: area:edr

#4598 fix: build
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/requests/eth/transactions.rs
Labels: area:edr

#4596 feat: add hardhat config RPC methods
  crates/edr_eth/src/remote/client.rs
  crates/edr_evm/src/blockchain.rs
  crates/edr_evm/src/blockchain/forked.rs
  crates/edr_evm/src/blockchain/local.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/error.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/requests/eth/blockchain.rs
  crates/edr_provider/src/requests/eth/web3.rs
  crates/edr_provider/src/requests/hardhat.rs
  crates/edr_provider/src/requests/hardhat/config.rs
  crates/edr_rpc_hardhat/src/lib.rs
  crates/edr_rpc_hardhat/src/metadata.rs
  crates/edr_rpc_hardhat/tests/hardhat.rs
Labels: area:edr

#4576 docs: Mining multiple transactions in 1 block on Hardhat Network (#4138)
  docs/src/content/hardhat-network/docs/explanation/mining-modes.md
Labels: no changeset needed

#4608 feat: add mining config RPC methods
  crates/edr_eth/src/remote/cacheable_method_invocation.rs
  crates/edr_eth/src/remote/methods.rs
  crates/edr_napi/index.d.ts
  crates/edr_napi/src/miner.rs
  crates/edr_napi/src/provider/config.rs
  crates/edr_provider/src/config.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/requests/eth/evm.rs
  crates/edr_provider/src/requests/hardhat/config.rs
  crates/edr_provider/src/test_utils.rs
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/utils/convertToEdr.ts
Labels: area:edr

#4593 Add support for scopes in hh autocomplete
  .changeset/giant-books-tie.md
  packages/hardhat-core/src/internal/cli/autocomplete.ts
  packages/hardhat-core/test/fixture-projects/autocomplete/custom-scopes/hardhat.config.js
  packages/hardhat-core/test/fixture-projects/autocomplete/custom-scopes/package.json
  packages/hardhat-core/test/fixture-projects/autocomplete/overridden-task/hardhat.config.js
  packages/hardhat-core/test/fixture-projects/autocomplete/overridden-task/package.json
  packages/hardhat-core/test/fixture-projects/autocomplete/overriden-task/package.json
  packages/hardhat-core/test/internal/cli/autocomplete.ts
Labels: status:ready

#4621 fix: delete cache entry for invalid type entries
  crates/edr_eth/src/remote/client.rs
Labels: area:edr

#4418 improvement: reduce number of state clones
  crates/edr_evm/benches/state/database_commit.rs
  crates/edr_evm/benches/state/util.rs
  crates/edr_evm/src/block/builder.rs
  crates/edr_evm/src/blockchain.rs
  crates/edr_evm/src/blockchain/forked.rs
  crates/edr_evm/src/blockchain/local.rs
  crates/edr_evm/src/blockchain/storage/reservable.rs
  crates/edr_evm/src/state.rs
  crates/edr_evm/src/state/debug.rs
  crates/edr_evm/src/state/diff.rs
  crates/edr_evm/src/state/fork.rs
  crates/edr_evm/src/state/irregular.rs
  crates/edr_evm/src/state/override.rs
  crates/edr_evm/src/state/remote/cached.rs
  crates/edr_evm/src/state/trie.rs
  crates/edr_evm/src/state/trie/account.rs
  crates/edr_evm/tests/blockchain.rs
  crates/edr_napi/index.d.ts
  crates/edr_napi/index.js
  crates/edr_napi/src/account.rs
  crates/edr_napi/src/block.rs
  crates/edr_napi/src/blockchain.rs
  crates/edr_napi/src/provider/config.rs
  crates/edr_napi/src/state.rs
  crates/edr_napi/src/state/irregular.rs
  crates/edr_napi/test/evm/StateManager.ts
  crates/edr_provider/src/config.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/data/account.rs
  crates/edr_provider/src/test_utils.rs
  packages/hardhat-core/src/internal/hardhat-network/provider/EdrIrregularState.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/EdrState.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/blockchain/edr.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/context/dual.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/context/edr.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/fork/ForkStateManager.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/node-types.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/node.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/utils/makeForkClient.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/block-builder/edr.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/block-builder/hardhat.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/dual.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/edr.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/ethereumjs.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/proxy-vm.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/vm-adapter.ts
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/execution.ts
Labels: area:edr

#4619 feat: interval mining
  Cargo.lock
  crates/edr_napi/index.d.ts
  crates/edr_napi/src/provider/config.rs
  crates/edr_provider/Cargo.toml
  crates/edr_provider/src/config.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/interval.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/logger.rs
  packages/hardhat-core/src/internal/hardhat-network/provider/utils/convertToEdr.ts
Labels: area:edr

#4627 feat: add `eth_getBlockByNumber` support
  crates/edr_eth/src/remote.rs
  crates/edr_eth/src/remote/client.rs
  crates/edr_eth/src/remote/eth.rs
  crates/edr_eth/src/remote/methods.rs
  crates/edr_eth/tests/integration_tests.rs
  crates/edr_eth/tests/receipt.rs
  crates/edr_eth/tests/transaction.rs
  crates/edr_evm/benches/state/util.rs
  crates/edr_evm/src/block.rs
  crates/edr_evm/src/block/local.rs
  crates/edr_evm/src/block/remote.rs
  crates/edr_evm/src/blockchain/remote.rs
  crates/edr_evm/src/state/fork.rs
  crates/edr_evm/src/state/remote.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/error.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/requests/eth.rs
  crates/edr_provider/src/requests/eth/blocks.rs
  crates/edr_provider/src/requests/eth/transactions.rs
Labels: area:edr

#4628 Add get block by hash and block transaction count methods
  crates/edr_eth/src/remote/methods.rs
  crates/edr_eth/tests/integration_tests.rs
  crates/edr_provider/src/data.rs
  crates/edr_provider/src/lib.rs
  crates/edr_provider/src/requests/eth/blocks.rs
Labels: area:edr
