Repository NomicFoundation/hardhat, pull requests merged in 2024-07, with the labels that each got.

#5460 Isolate the build-system package errors
  v-next/core/test/internal/configuration-variables/configuration-variables.ts
  v-next/core/test/internal/hook-manager.ts
  v-next/core/test/internal/plugins/detect-plugin-npm-dependency-problems.ts
  v-next/core/test/internal/plugins/resolve-plugin-list.ts
  v-next/core/test/internal/tasks/builders.ts
  v-next/hardhat-build-system/src/internal/error-descriptors.ts
  v-next/hardhat-build-system/src/internal/solidity/compiler/downloader.ts
  v-next/hardhat-build-system/src/internal/solidity/compiler/index.ts
  v-next/hardhat-build-system/src/internal/solidity/dependencyGraph.ts
  v-next/hardhat-build-system/src/internal/solidity/parse.ts
  v-next/hardhat-build-system/src/internal/solidity/resolver.ts
  v-next/hardhat-build-system/src/internal/tasks.ts
  v-next/hardhat-build-system/src/internal/utils/artifacts.ts
  v-next/hardhat-build-system/src/internal/utils/contract-names.ts
  v-next/hardhat-build-system/src/internal/utils/source-names.ts
  v-next/hardhat-build-system/test/index.ts
  v-next/hardhat-build-system/test/internal/utils/artifacts.ts
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat/test/hre/index.ts
  v-next/hardhat/test/internal/builtin-plugins/run/runScriptWIthHardhat.ts
Labels: status:ready, v-next

#5461 New only-hardhat-error rule
  config-v-next/eslint.cjs
  v-next/core/src/internal/hre.ts
  v-next/hardhat-build-system/.eslintrc.cjs
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat-utils/.eslintrc.cjs
Labels: status:ready, v-next

#5455 Error printing for Hardhat v3
  v-next/example-project/hardhat.config.ts
  v-next/hardhat-errors/src/errors.ts
  v-next/hardhat-errors/test/errors.ts
  v-next/hardhat/src/cli.ts
  v-next/hardhat/src/internal/cli/error-handler.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/internal/constants.ts
  v-next/hardhat/test/internal/cli/error-handler.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5411 Streamline `ConsoleLogger` logic and state
  packages/hardhat-core/scripts/console-library-generator.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/consoleLogger.ts
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/logger.ts
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test.ts
  packages/hardhat-core/tsconfig.json
Labels: status:triaging, no changeset needed

#5400 Remove leftover `_eventAdapter` from `EdrProviderWrapper`
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
Labels: no changeset needed

#5469 fix: support for vyper version 0.4.0 with the new output identifiers
  .changeset/wet-cars-sin.md
  packages/hardhat-vyper/src/constants.ts
  packages/hardhat-vyper/src/index.ts
  packages/hardhat-vyper/test/fixture-projects/compilation-with-vyper-output-breakable-version/contracts/A.vy
  packages/hardhat-vyper/test/fixture-projects/compilation-with-vyper-output-breakable-version/contracts/B.vy
  packages/hardhat-vyper/test/fixture-projects/compilation-with-vyper-output-breakable-version/hardhat.config.js
  packages/hardhat-vyper/test/tests.ts
Labels: status:triaging

#5467 Avoid unconditional reverts in stack traces tests
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/modifiers/call-message/multiple-modifiers-require/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/modifiers/call-message/multiple-modifiers-require/test.json
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/modifiers/create-message/multiple-modifiers-require/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/modifiers/create-message/multiple-modifiers-require/test.json
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/revert-without-message/within-receive/between-statements/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/revert-without-message/within-receive/between-statements/test.json
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/revert-without-message/within-receive/no-other-statements/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/revert-without-message/within-receive/no-other-statements/test.json
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/revert-without-message/within-receive/statement-after/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/revert-without-message/within-receive/statement-after/test.json
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/revert-without-message/within-receive/statement-before/c.sol
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test-files/0_8/revert-without-message/revert-without-message/within-receive/statement-before/test.json
Labels: status:ready, no changeset needed

#5480 Upgrade pnpm/action-setup to v4
  .github/workflows/LATEST_DEPENDENCY_VERSIONS.yml
  .github/workflows/check-docs-site.yml
  .github/workflows/comment-on-linter-error.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/hardhat-chai-matchers-ci.yml
  .github/workflows/hardhat-core-ci.yml
  .github/workflows/hardhat-ethers-ci.yml
  .github/workflows/hardhat-foundry-ci.yml
  .github/workflows/hardhat-ledger-ci.yml
  .github/workflows/hardhat-network-helpers-ci.yml
  .github/workflows/hardhat-network-tracing-all-solc-versions.yml
  .github/workflows/hardhat-shorthand-ci.yml
  .github/workflows/hardhat-solhint-ci.yml
  .github/workflows/hardhat-solpp-ci.yml
  .github/workflows/hardhat-toolbox-ci.yml
  .github/workflows/hardhat-truffle4-ci.yml
  .github/workflows/hardhat-truffle5-ci.yml
  .github/workflows/hardhat-verify-ci.yml
  .github/workflows/hardhat-viem-ci.yml
  .github/workflows/hardhat-vyper-ci.yml
  .github/workflows/hardhat-web3-ci.yml
  .github/workflows/hardhat-web3-legacy-ci.yml
  .github/workflows/hardhat-web3-v4-ci.yml
  .github/workflows/lint.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-slow-imports-rule.yml
Labels: no changeset needed

#5476 Update plugins.ts, add @yankeguo/hardhat-trezor
  docs/src/content/hardhat-runner/plugins/plugins.ts
Labels: no changeset needed

#5478 Add debug logs for provider creation
  .changeset/fuzzy-mangos-behave.md
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
Labels: status:ready, no changeset needed

#5481 [v-next] Upgrade pnpm/action-setup to v4
  .github/workflows/LATEST_DEPENDENCY_VERSIONS.yml
  .github/workflows/check-docs-site.yml
  .github/workflows/comment-on-linter-error.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/hardhat-chai-matchers-ci.yml
  .github/workflows/hardhat-core-ci.yml
  .github/workflows/hardhat-ethers-ci.yml
  .github/workflows/hardhat-foundry-ci.yml
  .github/workflows/hardhat-ledger-ci.yml
  .github/workflows/hardhat-network-helpers-ci.yml
  .github/workflows/hardhat-network-tracing-all-solc-versions.yml
  .github/workflows/hardhat-shorthand-ci.yml
  .github/workflows/hardhat-toolbox-ci.yml
  .github/workflows/hardhat-verify-ci.yml
  .github/workflows/hardhat-viem-ci.yml
  .github/workflows/hardhat-vyper-ci.yml
  .github/workflows/hardhat-web3-v4-ci.yml
  .github/workflows/lint.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-slow-imports-rule.yml
Labels: status:ready

#5471 Implement logic in hh-utils to handle sub processes
  v-next/hardhat-utils/package.json
  v-next/hardhat-utils/src/errors/subprocess.ts
  v-next/hardhat-utils/src/subprocess.ts
  v-next/hardhat-utils/test/fixture-projects/subprocess/.gitignore
  v-next/hardhat-utils/test/fixture-projects/subprocess/js-subprocess.js
  v-next/hardhat-utils/test/fixture-projects/subprocess/ts-subprocess-env.ts
  v-next/hardhat-utils/test/fixture-projects/subprocess/ts-subprocess-stdio.ts
  v-next/hardhat-utils/test/fixture-projects/subprocess/ts-subprocess.ts
  v-next/hardhat-utils/test/subprocess.ts
Labels: v-next

#5470 Updates to RESERVED_PARAMETER_NAMES and GLOBAL_OPTIONS
  v-next/core/src/internal/parameters.ts
  v-next/core/test/internal/global-options.ts
  v-next/core/test/internal/tasks/builders.ts
  v-next/example-project/hardhat.config.ts
  v-next/hardhat/src/internal/builtin-options.ts
  v-next/hardhat/src/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/src/internal/cli/helpers/utils.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5472 Normalize naming of parameter type
  v-next/core/src/config.ts
  v-next/core/src/internal/global-options.ts
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/src/types/global-options.ts
  v-next/core/src/types/tasks.ts
  v-next/core/test/internal/global-options.ts
  v-next/core/test/internal/tasks/builders.ts
  v-next/core/test/internal/tasks/task-manager.ts
  v-next/hardhat/src/internal/builtin-options.ts
  v-next/hardhat/src/internal/cli/helpers/utils.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/test/internal/cli/helpers/getHelpString.ts
  v-next/hardhat/test/internal/cli/helpers/utils.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5474 Rename globalOptionsMap to globalOptionDefinitions
  v-next/core/src/index.ts
  v-next/core/src/internal/global-options.ts
  v-next/core/src/internal/hre.ts
  v-next/core/src/internal/tasks/task-manager.ts
  v-next/core/src/types/cli.ts
  v-next/core/src/types/global-options.ts
  v-next/core/test/internal/global-options.ts
  v-next/hardhat/src/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/src/internal/cli/helpers/utils.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5484 Consolidate argument naming
  v-next/core/package.json
  v-next/core/scripts/api-extractor.sh
  v-next/core/src/config.ts
  v-next/core/src/internal/arguments.ts
  v-next/core/src/internal/global-options.ts
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/src/internal/tasks/task-manager.ts
  v-next/core/src/types/arguments.ts
  v-next/core/src/types/common.ts
  v-next/core/src/types/global-options.ts
  v-next/core/src/types/plugins.ts
  v-next/core/src/types/tasks.ts
  v-next/core/test/internal/arguments.ts
  v-next/core/test/internal/global-options.ts
  v-next/core/test/internal/parameters.ts
  v-next/core/test/internal/tasks/builders.ts
  v-next/core/test/internal/tasks/task-manager.ts
  v-next/example-project/hardhat.config.ts
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat/package.json
  v-next/hardhat/src/internal/builtin-options.ts
  v-next/hardhat/src/internal/builtin-plugins/run/index.ts
  v-next/hardhat/src/internal/cli/helpers/utils.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/types/arguments.ts
  v-next/hardhat/src/types/common.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/base-project/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/tasks-and-subtasks/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/user-config/user-hardhat.config.ts
  v-next/hardhat/test/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/test/internal/cli/helpers/getHelpString.ts
  v-next/hardhat/test/internal/cli/helpers/utils.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5485 Fix `hre` initialization
  v-next/hardhat/.eslintrc.cjs
  v-next/hardhat/src/hre.ts
  v-next/hardhat/src/index.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/index.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/internal/hre-singleton.ts
  v-next/hardhat/test/fixture-projects/run-ts-script/scripts/success.ts
  v-next/hardhat/test/hre/index.ts
  v-next/hardhat/test/internal/builtin-plugins/run/runScriptWIthHardhat.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5489 Two small renames
  v-next/core/src/index.ts
  v-next/core/test/internal/tasks/task-manager.ts
  v-next/hardhat/.eslintrc.cjs
  v-next/hardhat/src/hre.ts
  v-next/hardhat/src/index.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/internal/global-hre-instance.ts
  v-next/hardhat/src/internal/hre-singleton.ts
  v-next/hardhat/test/hre/index.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5498 Add file in hh-core to handle hardhat configuration paths
  pnpm-lock.yaml
  v-next/core/package.json
  v-next/core/src/global-dir.ts
  v-next/core/test/global-dir.ts
Labels: status:triaging

#5496 Use `hardhat-test-utils`' functions
  config-v-next/eslint.cjs
  pnpm-lock.yaml
  v-next/core/package.json
  v-next/core/test/internal/configuration-variables/configuration-variables.ts
  v-next/core/test/internal/global-options.ts
  v-next/core/test/internal/hook-manager.ts
  v-next/core/test/internal/plugins/detect-plugin-npm-dependency-problems.ts
  v-next/core/test/internal/plugins/resolve-plugin-list.ts
  v-next/core/test/internal/tasks/builders.ts
  v-next/core/test/internal/tasks/task-manager.ts
  v-next/core/tsconfig.json
  v-next/hardhat-test-utils/.eslintrc.cjs
  v-next/hardhat-test-utils/src/hardhat-error.ts
  v-next/hardhat/test/hre/index.ts
  v-next/hardhat/test/internal/builtin-plugins/run/runScriptWIthHardhat.ts
  v-next/hardhat/test/internal/cli/init/init.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5494 Include the builtin options as part of the global options & augment the types
  v-next/hardhat/src/hre.ts
  v-next/hardhat/src/internal/builtin-global-options.ts
  v-next/hardhat/src/internal/builtin-options.ts
  v-next/hardhat/src/internal/cli/helpers/utils.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/types/global-options.ts
  v-next/hardhat/test/fixture-projects/loaded-config/hardhat.config.js
  v-next/hardhat/test/fixture-projects/loaded-config/hardhat.config.ts
  v-next/hardhat/test/hre/index.ts
  v-next/hardhat/test/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/test/internal/cli/main.ts
  v-next/hardhat/test/types/global-options.ts
Labels: status:ready, v-next

#5495 Sort help messages
  v-next/hardhat/src/internal/cli/helpers/utils.ts
  v-next/hardhat/test/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/test/internal/cli/helpers/getHelpString.ts
  v-next/hardhat/test/internal/cli/helpers/utils.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5504 Adds logic for forcing through verification when is verified check fails
  .changeset/fuzzy-eyes-collect.md
  packages/hardhat-verify/src/internal/tasks/etherscan.ts
Labels: status:triaging

#5499 Make options optional
  v-next/core/src/config.ts
  v-next/core/src/internal/global-options.ts
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/src/types/arguments.ts
  v-next/core/src/types/global-options.ts
  v-next/core/src/types/plugins.ts
  v-next/core/src/types/tasks.ts
  v-next/core/test/internal/tasks/builders.ts
  v-next/core/test/internal/tasks/task-manager.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/tasks-and-subtasks/hardhat.config.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5506 allow empty arrays as default values for variadic arguments
  v-next/core/src/internal/arguments.ts
  v-next/core/test/internal/arguments.ts
Labels: v-next

#5509 Bump EDR to 0.4.2
  .changeset/grumpy-dragons-shop.md
  packages/hardhat-core/package.json
  pnpm-lock.yaml
Labels: status:ready

#5513 Task fixes
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/src/internal/tasks/task-manager.ts
  v-next/core/src/internal/tasks/utils.ts
  v-next/core/src/internal/tasks/validations.ts
  v-next/core/src/types/arguments.ts
  v-next/core/test/internal/tasks/task-manager.ts
  v-next/core/test/internal/tasks/utils.ts
Labels: status:ready, v-next

#5516 Fix the example project's config file
  v-next/example-project/hardhat.config.ts
Labels: status:ready, v-next

#5503 Implement logic to ask for telemetry consent #5501
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/internal/cli/prompt/prompt.ts
  v-next/hardhat/src/internal/cli/telemetry/telemetry-consent.ts
Labels: status:ready, v-next

#5530 Add camelToKebabCase to hardhat-utils
  v-next/core/test/internal/global-options.ts
  v-next/hardhat-utils/src/string.ts
  v-next/hardhat-utils/test/string.ts
  v-next/hardhat/src/internal/cli/helpers/utils.ts
  v-next/hardhat/test/internal/cli/helpers/utils.ts
Labels: status:ready, v-next

#5532 Refactor argument validations
  v-next/core/src/internal/arguments.ts
  v-next/core/src/internal/global-options.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/src/internal/tasks/validations.ts
Labels: status:ready, v-next

#5512 Upgrade to EDR v0.5 and add `enableRip7212` option
  .changeset/great-crabs-hug.md
  .changeset/modern-points-cover.md
  docs/src/content/hardhat-network/docs/reference/index.md
  packages/hardhat-core/package.json
  packages/hardhat-core/src/internal/core/providers/construction.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/exit.ts
  packages/hardhat-core/src/types/config.ts
  packages/hardhat-core/test/internal/hardhat-network/helpers/useProvider.ts
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/execution.ts
  pnpm-lock.yaml
Labels: status:ready

#5535 Fix numbered list in docs
  docs/src/content/ignition/docs/advanced/migrating.md
Labels: status:ready, no changeset needed

#5538 fix message for HH206
  .changeset/rude-suits-add.md
  packages/hardhat-core/src/internal/core/errors-list.ts
Labels: status:ready

#5517 [WIP] Project root resolution
  v-next/core/src/index.ts
  v-next/core/src/internal/hook-manager.ts
  v-next/core/src/internal/hre.ts
  v-next/core/src/internal/plugins/detect-plugin-npm-dependency-problems.ts
  v-next/core/src/internal/plugins/resolve-plugin-list.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/src/types/config.ts
  v-next/core/test/internal/configuration-variables/configuration-variables.ts
  v-next/core/test/internal/hook-manager.ts
  v-next/core/test/internal/plugins/detect-plugin-npm-dependency-problems.ts
  v-next/core/test/internal/plugins/resolve-plugin-list.ts
  v-next/core/test/internal/user-interruptions/user-interruptions-manager.ts
  v-next/hardhat-utils/src/package.ts
  v-next/hardhat-utils/test/package.ts
  v-next/hardhat/src/hre.ts
  v-next/hardhat/src/index.ts
  v-next/hardhat/src/internal/cli/main.ts
Labels: status:ready, v-next

#5527 Improve the types of task arguments
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/types/tasks.ts
  v-next/hardhat/src/internal/builtin-plugins/run/index.ts
  v-next/hardhat/src/internal/builtin-plugins/run/task-action.ts
  v-next/hardhat/test/internal/builtin-plugins/run/task-action.ts
Labels: status:ready, v-next

#5540 Clean task
  v-next/core/src/global-dir.ts
  v-next/core/src/internal/hre.ts
  v-next/core/src/types/config.ts
  v-next/core/test/internal/configuration-variables/configuration-variables.ts
  v-next/core/test/internal/hook-manager.ts
  v-next/core/test/internal/user-interruptions/user-interruptions-manager.ts
  v-next/hardhat/src/internal/builtin-plugins/clean/index.ts
  v-next/hardhat/src/internal/builtin-plugins/clean/task-action.ts
  v-next/hardhat/src/internal/builtin-plugins/index.ts
  v-next/hardhat/test/internal/builtin-plugins/clean/task-action.ts
  v-next/hardhat/test/internal/builtin-plugins/run/task-action.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5557 Refactor telemetry-consent file and add tests
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/internal/cli/telemetry/telemetry-consent.ts
  v-next/hardhat/src/internal/cli/telemetry/telemetry-permissions.ts
  v-next/hardhat/test/internal/cli/telemetry/telemetry-permissions.ts
Labels: status:triaging

#5528 User config validation
  v-next/core/src/internal/config-validation.ts
  v-next/core/src/internal/hre.ts
  v-next/core/src/types/plugins.ts
  v-next/core/test/internal/config-validation.ts
  v-next/core/test/internal/tasks/task-manager.ts
Labels: v-next
