Repository NomicFoundation/hardhat, pull requests merged in 2024-06, with the labels that each got.

#5300 Implement feedback on task, subtask and parameter cli parsing
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/fixture-projects/cli/type-validation/test.txt
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:triaging

#5329 Custom reporter GitHub integration and better formatting of special cases
  .github/workflows/v-next-ci.yml
  pnpm-lock.yaml
  v-next/core/package.json
  v-next/hardhat-build-system/package.json
  v-next/hardhat-errors/package.json
  v-next/hardhat-node-test-reporter/integration-tests/fixture-tests/example-test/result.txt
  v-next/hardhat-node-test-reporter/integration-tests/index.ts
  v-next/hardhat-node-test-reporter/package.json
  v-next/hardhat-node-test-reporter/src/error-formatting.ts
  v-next/hardhat-node-test-reporter/src/github-actions.ts
  v-next/hardhat-node-test-reporter/src/node-test-error-utils.ts
  v-next/hardhat-node-test-reporter/src/reporter.ts
  v-next/hardhat-utils/package.json
  v-next/hardhat-zod-utils/package.json
  v-next/hardhat/package.json
  v-next/template-package/package.json
Labels: status:ready

#5308 Added tests to task manager
  v-next/core/src/internal/tasks/task-manager.ts
  v-next/core/test/internal/plugins/resolve-plugin-list.ts
  v-next/core/test/internal/tasks/task-manager.ts
Labels: status:ready

#5342 Add stale issues Github Actions Workflow
  .github/workflows/close-stale-issues.yml
Labels: status:triaging, no changeset needed

#5340 Add function in hh-utils to check if process is running in the CI
  v-next/hardhat-utils/package.json
  v-next/hardhat-utils/src/ci.ts
  v-next/hardhat-utils/test/ci.ts
Labels: v-next

#5334 Implement cli global parameters parsing
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5341 Improve task types & validation
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/types/common.ts
  v-next/core/src/types/tasks.ts
  v-next/hardhat/src/internal/cli/main.ts
Labels: v-next

#5347 Implement and test config variable resolution
  v-next/core/src/internal/configuration-variables.ts
  v-next/core/test/internal/configuration-variables/configuration-variables.ts
  v-next/hardhat-errors/src/descriptors.ts
Labels: status:triaging, v-next

#5349 Utils additions
  v-next/hardhat-utils/src/ci.ts
  v-next/hardhat-utils/src/lang.ts
  v-next/hardhat-utils/src/string.ts
  v-next/hardhat-utils/test/ci.ts
  v-next/hardhat-utils/test/lang.ts
  v-next/hardhat-utils/test/string.ts
Labels: v-next

#5344 Task run implementation
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/src/types/tasks.ts
  v-next/core/test/internal/tasks/builders.ts
  v-next/core/test/internal/tasks/fixture-projects/file-actions/action-fn.js
  v-next/core/test/internal/tasks/fixture-projects/file-actions/no-default-fn.js
  v-next/core/test/internal/tasks/fixture-projects/file-actions/no-default.js
  v-next/core/test/internal/tasks/fixture-projects/file-actions/no-run-super.js
  v-next/core/test/internal/tasks/task-manager.ts
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat/example.config.ts
Labels: v-next

#5350 Use isObject & kebabToCamelCase in v-next
  v-next/core/src/internal/hook-manager.ts
  v-next/hardhat-errors/src/errors.ts
  v-next/hardhat-utils/package.json
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/internal/helpers/config-loading.ts
Labels: v-next

#5351 Enable import/no-relative-packages and fix an instance of it
  config-v-next/eslint.cjs
  v-next/hardhat/src/internal/helpers/config-loading.ts
Labels: status:ready

#5352 Example project
  .github/workflows/v-next-ci.yml
  pnpm-lock.yaml
  scripts/check-v-next-npm-scripts.js
  v-next/example-project/.gitignore
  v-next/example-project/LICENSE
  v-next/example-project/README.md
  v-next/example-project/hardhat.config.ts
  v-next/example-project/package.json
  v-next/example-project/tsconfig.json
Labels: status:ready

#5354 Add empty task builder
  v-next/core/src/config.ts
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/types/tasks.ts
  v-next/core/test/internal/tasks/builders.ts
  v-next/core/test/internal/tasks/task-manager.ts
Labels: v-next

#5368 Add root tasks getter
  v-next/core/src/internal/tasks/task-manager.ts
  v-next/core/src/types/tasks.ts
  v-next/core/test/internal/tasks/task-manager.ts
Labels: v-next

#5373 Task parameters are treated as unrecognized global parameters
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: v-next

#5370 Add validation for positional parameter clashes with global parameters
  v-next/core/src/internal/tasks/task-manager.ts
  v-next/core/test/internal/tasks/task-manager.ts
  v-next/hardhat-errors/src/descriptors.ts
Labels: v-next

#5367 Refactor parameter fns
  v-next/core/src/internal/parameters.ts
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/src/types/common.ts
  v-next/core/test/internal/parameters.ts
Labels: v-next

#5378 Added eslint rules
  config-v-next/eslint.cjs
  v-next/core/src/config.ts
  v-next/core/src/index.ts
  v-next/core/src/internal/configuration-variables.ts
  v-next/core/src/internal/global-parameters.ts
  v-next/core/src/internal/hook-manager.ts
  v-next/core/src/internal/hre.ts
  v-next/core/src/internal/plugins/detect-plugin-npm-dependency-problems.ts
  v-next/core/src/internal/tasks/task-manager.ts
  v-next/core/src/internal/user-interruptions.ts
  v-next/core/src/types/cli.ts
  v-next/core/src/types/global-parameters.ts
  v-next/core/src/types/hooks.ts
  v-next/core/src/types/hre.ts
  v-next/core/src/types/plugins.ts
  v-next/core/test/internal/plugins/detect-plugin-npm-dependency-problems.ts
  v-next/core/test/internal/plugins/resolve-plugin-list.ts
  v-next/core/test/internal/user-interruptions/user-interruptions-manager.ts
  v-next/hardhat-build-system/src/internal/build-system.ts
  v-next/hardhat-build-system/src/internal/solidity/compilation-job.ts
  v-next/hardhat-build-system/src/internal/solidity/compiler/compiler-input.ts
  v-next/hardhat-build-system/src/internal/solidity/compiler/index.ts
  v-next/hardhat-build-system/src/internal/solidity/dependencyGraph.ts
  v-next/hardhat-build-system/src/internal/solidity/resolver.ts
  v-next/hardhat-build-system/src/internal/tasks.ts
  v-next/hardhat-build-system/src/internal/types/config.ts
  v-next/hardhat-build-system/src/internal/utils/artifacts.ts
  v-next/hardhat-build-system/src/internal/utils/download.ts
  v-next/hardhat-build-system/src/internal/utils/solidity-files-cache.ts
  v-next/hardhat-build-system/test/helpers.ts
  v-next/hardhat-build-system/test/index.ts
  v-next/hardhat-build-system/test/internal/utils/artifacts.ts
  v-next/hardhat-errors/src/errors.ts
  v-next/hardhat-errors/test/errors.ts
  v-next/hardhat-node-test-reporter/src/diagnostics.ts
  v-next/hardhat-node-test-reporter/src/formatting.ts
  v-next/hardhat-node-test-reporter/src/github-actions.ts
  v-next/hardhat-node-test-reporter/src/reporter.ts
  v-next/hardhat-utils/src/request.ts
  v-next/hardhat-utils/test/fs.ts
  v-next/hardhat-utils/test/helpers/request.ts
  v-next/hardhat-utils/test/lang.ts
  v-next/hardhat-utils/test/package.ts
  v-next/hardhat-zod-utils/src/index.ts
  v-next/hardhat-zod-utils/test/index.ts
  v-next/hardhat/src/hre.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/hookHandlers/config.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/hookHandlers/configurationVariables.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/index.ts
  v-next/hardhat/src/internal/builtin-plugins/index.ts
  v-next/hardhat/test/hre/index.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: v-next

#5371 Check for missing dependencies when failing to import a file action
  v-next/core/src/internal/plugins/detect-plugin-npm-dependency-problems.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/test/internal/tasks/task-manager.ts
Labels: v-next

#5387 Create FUNDING.json
  FUNDING.json
Labels: status:triaging, no changeset needed

#5396 Update README.md
  docs/README.md
Labels: status:ready, no changeset needed

#5380 Create an integration test to combine all the parsing steps (global parameters, named parameters, positional, etc.)
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/base-project/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/subtask-help/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/tasks-and-subtasks/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/user-config/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/user-config/user-hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/type-validation/test.txt
  v-next/hardhat/test/internal/cli/main.ts
Labels: v-next

#5384 Implement logic for the --version cli global argument
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/internal/cli/version.ts
  v-next/hardhat/src/internal/utils/package.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: v-next

#5394 Add hardfork histories for opt and arb mainnet/sepolia
  .changeset/unlucky-tips-jam.md
  packages/hardhat-core/src/internal/core/config/default-config.ts
Labels: status:ready

#5390 buildGlobalParameterDefinition implementation & testing
  v-next/core/src/config.ts
  v-next/core/src/internal/global-parameters.ts
  v-next/core/src/types/global-parameters.ts
  v-next/core/test/internal/global-parameters.ts
  v-next/core/test/internal/tasks/task-manager.ts
Labels: status:ready, v-next

#5399 buildGlobalParametersMap implementation & testing
  v-next/core/src/index.ts
  v-next/core/src/internal/global-parameters.ts
  v-next/core/src/internal/hre.ts
  v-next/core/src/internal/tasks/task-manager.ts
  v-next/core/src/types/cli.ts
  v-next/core/src/types/global-parameters.ts
  v-next/core/test/internal/global-parameters.ts
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: status:ready, v-next

#5393 hook manager tests
  v-next/core/src/internal/hook-manager.ts
  v-next/core/test/internal/fixture-plugins/config-plugin.ts
  v-next/core/test/internal/hook-manager.ts
  v-next/hardhat-errors/src/descriptors.ts
Labels: no changeset needed, v-next

#5417 Rename `globalArgument` and `namedParameters`
  v-next/core/README.md
  v-next/core/package.json
  v-next/core/scripts/api-extractor.sh
  v-next/core/src/config.ts
  v-next/core/src/index.ts
  v-next/core/src/internal/global-options.ts
  v-next/core/src/internal/hre.ts
  v-next/core/src/internal/tasks/builders.ts
  v-next/core/src/internal/tasks/resolved-task.ts
  v-next/core/src/internal/tasks/task-manager.ts
  v-next/core/src/types/cli.ts
  v-next/core/src/types/common.ts
  v-next/core/src/types/global-options.ts
  v-next/core/src/types/global-parameters.ts
  v-next/core/src/types/hooks.ts
  v-next/core/src/types/hre.ts
  v-next/core/src/types/plugins.ts
  v-next/core/src/types/tasks.ts
  v-next/core/test/internal/configuration-variables/configuration-variables.ts
  v-next/core/test/internal/global-options.ts
  v-next/core/test/internal/tasks/builders.ts
  v-next/core/test/internal/tasks/task-manager.ts
  v-next/core/test/internal/user-interruptions/user-interruptions-manager.ts
  v-next/example-project/hardhat.config.ts
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat/example.config.ts
  v-next/hardhat/package.json
  v-next/hardhat/src/hre.ts
  v-next/hardhat/src/index.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/index.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/types/global-options.ts
  v-next/hardhat/src/types/global-parameters.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/tasks-and-subtasks/hardhat.config.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: v-next

#4691 Added a guide for using upgradeable proxies with hardhat ignition
  docs/src/content/ignition/docs/guides/_dirinfo.yaml
  docs/src/content/ignition/docs/guides/upgradeable-proxies.md
Labels: type:docs, no changeset needed

#5409 Implement the `--help` command
  pnpm-lock.yaml
  v-next/core/test/internal/hook-manager.ts
  v-next/hardhat/example.config.ts
  v-next/hardhat/package.json
  v-next/hardhat/src/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/src/internal/cli/helpers/getHelpString.ts
  v-next/hardhat/src/internal/cli/helpers/utils.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/base-project/hardhat.config.ts
  v-next/hardhat/test/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/test/internal/cli/helpers/getHelpString.ts
  v-next/hardhat/test/internal/cli/helpers/utils.ts
  v-next/hardhat/test/internal/cli/main.ts
  v-next/hardhat/tsconfig.json
Labels: v-next

#5423 Make the test reporter's integration tests more robust across node versions
  v-next/hardhat-node-test-reporter/integration-tests/index.ts
Labels: status:ready, v-next

#5430 Change network helpers' tests to Sepolia
  packages/hardhat-network-helpers/test/helpers/reset.ts
Labels: no changeset needed

#5428 changed solc version to 0.8.26 - resolves #5427
  .changeset/lovely-kiwis-hang.md
  packages/hardhat-core/package.json
  pnpm-lock.yaml
Labels: status:triaging

#5414 resolveGlobalArguments implementation & testing
  v-next/core/src/internal/global-options.ts
  v-next/core/src/internal/parameters.ts
  v-next/core/test/internal/global-options.ts
  v-next/core/test/utils.ts
  v-next/hardhat-utils/src/string.ts
  v-next/hardhat-utils/test/string.ts
  v-next/hardhat/src/internal/cli/main.ts
Labels: status:ready, v-next

#5398 Add contract types map to hardhat-viem
  .changeset/smooth-rabbits-wait.md
  packages/hardhat-viem/README.md
  packages/hardhat-viem/src/internal/tasks.ts
  packages/hardhat-viem/test/fixture-projects/type-generation/snapshots/artifacts.d.ts
  packages/hardhat-viem/test/fixture-projects/type-generation/snapshots/contracts/A.sol/artifacts.d.ts
  packages/hardhat-viem/test/fixture-projects/type-generation/snapshots/contracts/C.sol/artifacts.d.ts
Labels: status:ready

#5424 move parseTaskAndArguments into the tests as a temporary fix for tests
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: v-next

#5439 Upgrade `@types/node` and remove an old workaround
  pnpm-lock.yaml
  v-next/core/package.json
  v-next/example-project/package.json
  v-next/hardhat-build-system/package.json
  v-next/hardhat-errors/package.json
  v-next/hardhat-node-test-reporter/package.json
  v-next/hardhat-node-test-reporter/src/diagnostics.ts
  v-next/hardhat-node-test-reporter/src/formatting.ts
  v-next/hardhat-node-test-reporter/src/github-actions.ts
  v-next/hardhat-node-test-reporter/src/node-types.ts
  v-next/hardhat-node-test-reporter/src/reporter.ts
  v-next/hardhat-node-test-reporter/src/types.ts
  v-next/hardhat-node-test-reporter/test/node-types.ts
  v-next/hardhat-node-test-reporter/test/nop.ts
  v-next/hardhat-utils/package.json
  v-next/hardhat-zod-utils/package.json
  v-next/hardhat/package.json
  v-next/template-package/package.json
Labels: status:ready, v-next

#5432 Add `run` task
  v-next/core/package.json
  v-next/hardhat-build-system/package.json
  v-next/hardhat-errors/package.json
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat-utils/package.json
  v-next/hardhat-zod-utils/package.json
  v-next/hardhat/package.json
  v-next/hardhat/src/config.ts
  v-next/hardhat/src/index.ts
  v-next/hardhat/src/internal/builtin-plugins/index.ts
  v-next/hardhat/src/internal/builtin-plugins/run/index.ts
  v-next/hardhat/src/internal/builtin-plugins/run/runScriptWithHardhat.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/internal/helpers/config-loading.ts
  v-next/hardhat/test/fixture-projects/run-js-script/hardhat.config.js
  v-next/hardhat/test/fixture-projects/run-js-script/scripts/success.js
  v-next/hardhat/test/fixture-projects/run-js-script/scripts/throws.js
  v-next/hardhat/test/fixture-projects/run-ts-script/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/run-ts-script/scripts/success.ts
  v-next/hardhat/test/fixture-projects/run-ts-script/scripts/throws.ts
  v-next/hardhat/test/helpers/project.ts
  v-next/hardhat/test/hre/index.ts
  v-next/hardhat/test/internal/builtin-plugins/run/runScriptWIthHardhat.ts
  v-next/hardhat/test/internal/cli/main.ts
  v-next/template-package/package.json
Labels: v-next

#5442 Chore/update package json with repo
  .changeset/quick-islands-appear.md
  pnpm-lock.yaml
  v-next/core/package.json
  v-next/example-project/package.json
  v-next/hardhat-build-system/package.json
  v-next/hardhat-errors/package.json
  v-next/hardhat-node-test-reporter/package.json
  v-next/hardhat-utils/package.json
  v-next/hardhat-zod-utils/package.json
  v-next/hardhat/package.json
  v-next/hardhat/test/internal/cli/main.ts
  v-next/template-package/package.json
Labels: status:ready

#5444 Chore/update git url
  .changeset/fuzzy-dolls-flash.md
  pnpm-lock.yaml
  v-next/core/package.json
  v-next/example-project/package.json
  v-next/hardhat-build-system/package.json
  v-next/hardhat-errors/package.json
  v-next/hardhat-node-test-reporter/package.json
  v-next/hardhat-utils/package.json
  v-next/hardhat-zod-utils/package.json
  v-next/hardhat/package.json
  v-next/template-package/package.json
Labels: status:ready

#5445 Don't check dependencies of private packages
  scripts/check-v-next-dependencies.js
Labels: status:ready, v-next

#5446 Chore/pnpm install auto release
  .changeset/dull-squids-brake.md
  .github/workflows/v-next-changesets-release.yml
  pnpm-lock.yaml
Labels: status:ready

#5449 Update Distributed Lab plugins
  docs/src/content/hardhat-runner/plugins/plugins.ts
Labels: status:triaging, no changeset needed

#5440 Add HardhatPluginError
  v-next/example-project/hardhat.config.ts
  v-next/hardhat-errors/README.md
  v-next/hardhat-errors/src/errors.ts
  v-next/hardhat-errors/src/index.ts
  v-next/hardhat-errors/test/errors.ts
  v-next/hardhat/package.json
  v-next/hardhat/src/plugins.ts
Labels: status:ready, v-next

#5441 Remove package.json from `hardhat`'s tsconfig.json
  v-next/example-project/hardhat.config.ts
  v-next/hardhat/README.md
  v-next/hardhat/example.config.ts
  v-next/hardhat/src/config.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/index.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/type-extensions.ts
  v-next/hardhat/src/internal/builtin-plugins/index.ts
  v-next/hardhat/test/internal/cli/helpers/getGlobalHelpString.ts
  v-next/hardhat/test/internal/cli/main.ts
  v-next/hardhat/tsconfig.json
Labels: status:ready

#5454 Forbid top-level-await
  config-v-next/eslint.cjs
  v-next/hardhat/src/cli.ts
  v-next/hardhat/src/index.ts
Labels: status:ready

#5425 Create base logic for the 'init' task "
  pnpm-lock.yaml
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat/package.json
  v-next/hardhat/src/internal/cli/init/constants.ts
  v-next/hardhat/src/internal/cli/init/init.ts
  v-next/hardhat/src/internal/cli/init/project-creation.ts
  v-next/hardhat/src/internal/cli/init/sample-config-file.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/test/fixture-projects/cli/init/already-in-hh-project/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/init/empty-folder/.gitignore
  v-next/hardhat/test/fixture-projects/cli/init/not-esm-project/missing-package-type/package.json
  v-next/hardhat/test/fixture-projects/cli/init/not-esm-project/not-esm-type/package.json
  v-next/hardhat/test/fixture-projects/cli/init/valid-project-config/.gitignore
  v-next/hardhat/test/fixture-projects/cli/init/valid-project-config/package.json
  v-next/hardhat/test/internal/cli/init/init.ts
  v-next/hardhat/test/internal/cli/init/project-creation.ts
  v-next/hardhat/test/internal/cli/main.ts
Labels: v-next

#5456 Fix test and test:only scripts
  v-next/core/package.json
  v-next/hardhat-build-system/package.json
  v-next/hardhat-errors/package.json
  v-next/hardhat-utils/package.json
  v-next/hardhat-zod-utils/package.json
  v-next/hardhat/package.json
  v-next/template-package/package.json
Labels: status:ready

#5453 update vnext to typescript 5.5
  config-v-next/tsconfig.json
  pnpm-lock.yaml
  v-next/core/package.json
  v-next/core/src/internal/parameters.ts
  v-next/core/test/internal/fixture-plugins/config-plugin.ts
  v-next/core/test/utils.ts
  v-next/example-project/hardhat.config.ts
  v-next/example-project/package.json
  v-next/hardhat-build-system/package.json
  v-next/hardhat-build-system/src/internal/build-system.ts
  v-next/hardhat-build-system/src/internal/builtin-tasks/utils/solidity-files-cache.ts
  v-next/hardhat-build-system/src/internal/solidity/compilation-job.ts
  v-next/hardhat-build-system/src/internal/solidity/compiler/downloader.ts
  v-next/hardhat-build-system/src/internal/solidity/compiler/index.ts
  v-next/hardhat-build-system/src/internal/solidity/resolver.ts
  v-next/hardhat-build-system/src/internal/tasks.ts
  v-next/hardhat-build-system/src/internal/utils/artifacts.ts
  v-next/hardhat-build-system/src/internal/utils/download.ts
  v-next/hardhat-build-system/src/internal/utils/global-dir.ts
  v-next/hardhat-build-system/src/internal/utils/source-names.ts
  v-next/hardhat-build-system/src/internal/utils/string.ts
  v-next/hardhat-build-system/test/helpers.ts
  v-next/hardhat-errors/package.json
  v-next/hardhat-errors/src/errors.ts
  v-next/hardhat-node-test-reporter/package.json
  v-next/hardhat-node-test-reporter/src/formatting.ts
  v-next/hardhat-utils/package.json
  v-next/hardhat-utils/src/fs.ts
  v-next/hardhat-utils/src/internal/eth.ts
  v-next/hardhat-utils/src/internal/hex.ts
  v-next/hardhat-utils/src/internal/lang.ts
  v-next/hardhat-utils/src/internal/request.ts
  v-next/hardhat-utils/test/helpers/fs.ts
  v-next/hardhat-utils/test/helpers/request.ts
  v-next/hardhat-zod-utils/package.json
  v-next/hardhat-zod-utils/src/index.ts
  v-next/hardhat/package.json
  v-next/hardhat/src/index.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/hookHandlers/config.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/hookHandlers/configurationVariables.ts
  v-next/hardhat/src/internal/builtin-plugins/hardhat-foo/index.ts
  v-next/hardhat/src/internal/builtin-plugins/run/index.ts
  v-next/hardhat/src/internal/cli/helpers/utils.ts
  v-next/hardhat/src/internal/cli/init/init.ts
  v-next/hardhat/src/internal/cli/init/project-creation.ts
  v-next/hardhat/src/internal/cli/init/sample-config-file.ts
  v-next/hardhat/src/internal/cli/main.ts
  v-next/hardhat/src/internal/cli/version.ts
  v-next/hardhat/src/internal/helpers/config-loading.ts
  v-next/hardhat/src/internal/hre-singleton.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/base-project/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/subtask-help/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/tasks-and-subtasks/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/user-config/hardhat.config.ts
  v-next/hardhat/test/fixture-projects/cli/parsing/user-config/user-hardhat.config.ts
  v-next/hardhat/test/fixture-projects/run-ts-script/hardhat.config.ts
  v-next/hardhat/test/helpers/project.ts
  v-next/template-package/package.json
  v-next/template-package/src/index.ts
  v-next/template-package/src/utils/string.ts
Labels: status:ready

#5457 Simplify `tsconfig.json` files with ${configDir}
  config-v-next/tsconfig.json
  v-next/core/tsconfig.json
  v-next/example-project/tsconfig.json
  v-next/hardhat-build-system/tsconfig.json
  v-next/hardhat-errors/tsconfig.json
  v-next/hardhat-node-test-reporter/tsconfig.json
  v-next/hardhat-utils/tsconfig.json
  v-next/hardhat-zod-utils/tsconfig.json
  v-next/hardhat/tsconfig.json
  v-next/template-package/tsconfig.json
Labels: status:ready, v-next

#5429 Clean up the VMTracer and trace events interface in TS
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
  packages/hardhat-core/src/internal/hardhat-network/provider/vm/exit.ts
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/message-trace.ts
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/vm-tracer.ts
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/execution.ts
  packages/hardhat-core/test/internal/hardhat-network/stack-traces/test.ts
Labels: status:triaging, no changeset needed
