Repository NomicFoundation/hardhat, pull requests merged in 2025-01, with the labels that each got.

#6098 fix: typos in documentation files
  docs/src/content/hardhat-runner/plugins/plugins.ts
  e2e/fixture-projects/vars/test.sh
Labels: type:docs, status:ready, no changeset needed

#6081 Update npm package link for hardhat-gasless-deployer plugin
  docs/src/content/hardhat-runner/plugins/plugins.ts
Labels: type:docs, status:ready, no changeset needed

#6086 Translate path separators when parsing npm direct imports
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/resolver/dependency-resolver.ts
Labels: status:ready, v-next

#6056 Implement robustness improvements in the compiler downloader
  pnpm-lock.yaml
  v-next/hardhat-utils/package.json
  v-next/hardhat-utils/src/synchronization.ts
  v-next/hardhat-utils/test/subprocess.ts
  v-next/hardhat-utils/test/synchronization.ts
  v-next/hardhat/package.json
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/compiler/compiler.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/compiler/downloader.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/compiler/index.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/compiler/solcjs-runner.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/compiler/solcjs-wrapper.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/compiler/downloader.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/compiler/index.ts
Labels: status:ready, v-next

#6073 Replace solc dependency with a thin solidity_compile wrapper
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/compiler/solcjs-runner.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/compiler/solcjs-wrapper.ts
Labels: status:ready, v-next

#6088 Implement SolidityCallSite.toString()
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/stack-traces/stack-trace-solidity-errors.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/edr/stack-traces/stack-trace-solidity-errors.ts
Labels: status:ready, v-next

#6030 WIP - Node test runner e2e test
  .github/workflows/v-next-ci.yml
  v-next/example-project/package.json
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/resolver/dependency-resolver.ts
Labels: status:ready, v-next

#5959 address the follow-up tasks related to --init
  v-next/hardhat/src/internal/cli/init/init.ts
  v-next/hardhat/src/internal/cli/init/package-manager.ts
  v-next/hardhat/src/internal/cli/init/prompt.ts
  v-next/hardhat/test/internal/cli/init/init.ts
  v-next/hardhat/test/internal/cli/init/package-manager.ts
Labels: status:ready, v-next

#6123 Remove shell lang from some md snippets
  docs/src/content/ignition/docs/advanced/migrating.md
  docs/src/content/ignition/docs/guides/create2.md
  docs/src/content/ignition/docs/guides/ledger.md
  docs/src/content/ignition/docs/reference/cli-commands.md
Labels: status:ready, no changeset needed

#6124 fix: typos in documentation files
  docs/src/content/ignition/docs/reference/environment-variables.md
  packages/hardhat-truffle4/src/artifacts.ts
  packages/hardhat-truffle5/src/artifacts.ts
Labels: status:triaging, no changeset needed

#6127 Fix typo in test
  packages/hardhat-web3-legacy/test/web3-provider-adapter.ts
  packages/hardhat-web3/test/web3-provider-adapter.ts
Labels: status:triaging, no changeset needed

#6133 chore: restore the solidity survey message (2024)
  .changeset/sixty-fireants-greet.md
  docs/redirects.config.js
  docs/src/config.ts
  packages/hardhat-core/src/internal/cli/project-creation.ts
Labels: status:ready

#6136 Add new policy about airdrop farming
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: status:ready, no changeset needed

#6046 Fix plugin dependency checks and set npmPackage values on plugins
  v-next/hardhat-errors/package.json
  v-next/hardhat-ethers/package.json
  v-next/hardhat-ethers/src/index.ts
  v-next/hardhat-keystore/package.json
  v-next/hardhat-keystore/src/index.ts
  v-next/hardhat-mocha-test-runner/package.json
  v-next/hardhat-mocha-test-runner/src/index.ts
  v-next/hardhat-network-helpers/package.json
  v-next/hardhat-network-helpers/src/index.ts
  v-next/hardhat-node-test-reporter/package.json
  v-next/hardhat-node-test-runner/package.json
  v-next/hardhat-node-test-runner/src/index.ts
  v-next/hardhat-test-utils/package.json
  v-next/hardhat-utils/package.json
  v-next/hardhat-viem/package.json
  v-next/hardhat-viem/src/index.ts
  v-next/hardhat-zod-utils/package.json
  v-next/hardhat/package.json
  v-next/hardhat/src/internal/builtin-plugins/artifacts/index.ts
  v-next/hardhat/src/internal/builtin-plugins/clean/index.ts
  v-next/hardhat/src/internal/builtin-plugins/console/index.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/index.ts
  v-next/hardhat/src/internal/builtin-plugins/run/index.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/index.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/index.ts
  v-next/hardhat/src/internal/builtin-plugins/test/index.ts
  v-next/hardhat/src/internal/core/plugins/detect-plugin-npm-dependency-problems.ts
Labels: status:ready, v-next

#5837 feat: expose solidity test runner config via user config
  v-next/example-project/contracts/Counter.t.sol
  v-next/example-project/hardhat.config.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/config.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/helpers.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/hook-handlers/config.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/index.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/runner.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/task-action.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/type-extensions.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/config.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/type-extensions.ts
Labels: status:ready, v-next

#5870 feat: define solidity test sources in config
  v-next/example-project/hardhat.config.ts
  v-next/example-project/test/contracts/WithForge.sol
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/config.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/helpers.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/index.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/task-action.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/type-extensions.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-results.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/build-system.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/tasks/compile.ts
  v-next/hardhat/src/types/solidity/build-system.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity-test/helpers.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity-test/test-fixtures/Test.t.sol
  v-next/hardhat/test/internal/core/config-validation.ts
  v-next/hardhat/test/internal/core/hook-manager.ts
Labels: status:ready, v-next

#6065 EDR Config validation
  v-next/hardhat/src/internal/builtin-plugins/network-manager/accounts/derive-private-keys.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/config-resolution.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/edr-provider.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/types/hardfork.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/utils/convert-to-edr.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/hook-handlers/config.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/network-manager.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/hanlders-array.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/type-extensions/config.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/type-validation.ts
  v-next/hardhat/src/internal/builtin-plugins/node/task-action.ts
  v-next/hardhat/src/internal/core/configuration-variables.ts
  v-next/hardhat/src/types/config.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/hook-handlers/config.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/network-connection.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/network-manager.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/request-handlers/e2e.ts
Labels: status:ready, v-next

#6119 Network plugin cleanup
  v-next/hardhat/src/internal/builtin-plugins/network-manager/accounts/constants.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/accounts/derive-private-keys.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/base-provider.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/config-resolution.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/edr-context.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/edr-provider.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/utils/chain-type.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/utils/convert-to-edr.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/hook-handlers/config.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/hook-handlers/network.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/http-provider.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/json-rpc.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/network-manager.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers-array.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers/accounts/hd-wallet-handler.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers/accounts/sender.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers/accounts/types.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers/gas/automatic-gas-handler.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers/gas/automatic-gas-price-handler.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers/gas/fixed-gas-handler.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers/gas/fixed-gas-price-handler.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/rpc/types/quantity.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/rpc/utils.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/type-extensions/config.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/type-validation.ts
  v-next/hardhat/src/internal/builtin-plugins/node/task-action.ts
  v-next/hardhat/src/internal/constants.ts
  v-next/hardhat/src/types/config.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/hook-handlers/config.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/network-connection.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/network-manager.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/request-handlers/handlers/accounts/automatic-sender-handler.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/request-handlers/handlers/accounts/fixed-sender-handler.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/request-handlers/handlers/gas/automatic-gas-handler.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/request-handlers/handlers/gas/automatic-gas-price-handler.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/request-handlers/handlers/gas/fixed-gas-handler.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/request-handlers/handlers/gas/fixed-gas-price-handler.ts
Labels: status:ready, v-next

#6062 Adding in Ink Mainnet network information
  .changeset/flat-hornets-yell.md
  packages/hardhat-verify/src/internal/chain-config.ts
Labels: status:ready

#6143 chore: check test task options before passing on noCompile flag
  v-next/hardhat/src/internal/builtin-plugins/test/task-action.ts
Labels: status:ready, v-next

#6156 docs: describe how revertedWithCustomError uses the contract argument
  docs/src/content/hardhat-chai-matchers/docs/overview.md
  docs/src/content/hardhat-chai-matchers/docs/reference.md
Labels: status:ready, no changeset needed

#6157 Remove async from describe callbacks
  docs/src/content/ignition/docs/guides/upgradeable-proxies.md
Labels: status:ready, no changeset needed

#6158 Fix ESM_PROJECT_WITHOUT_CJS_CONFIG heuristic
  .changeset/fluffy-sloths-walk.md
  packages/hardhat-core/src/internal/core/config/config-loading.ts
  packages/hardhat-solhint/test/fixture-projects/no-errors-project/contracts/Greeter.sol
Labels: status:ready

#6139 Config override rework
  v-next/hardhat/src/internal/builtin-plugins/network-manager/config-override.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/config-resolution.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/hook-handlers/config.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/network-manager.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers-array.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/type-extensions/config.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/type-validation.ts
  v-next/hardhat/src/internal/builtin-plugins/node/task-action.ts
  v-next/hardhat/src/types/hooks.ts
  v-next/hardhat/src/types/network.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/network-manager.ts
Labels: v-next

#6122 feat: Solidity stack traces
  pnpm-lock.yaml
  v-next/hardhat/package.json
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/edr-provider.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/stack-traces/stack-traces.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/utils/convert-to-edr.ts
Labels: status:ready, v-next

#6184 Refer to Ignition packages through pnpm workspace refs for the toolboxes
  packages/hardhat-toolbox-viem/package.json
  packages/hardhat-toolbox/package.json
  pnpm-lock.yaml
Labels: status:ready, no changeset needed

#6190 Add missing properties in v3 plugins
  v-next/hardhat-chai-matchers/src/index.ts
Labels: no changeset needed, v-next

#6186 feat: add testFiles option to test solidity
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/index.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity-test/task-action.ts
Labels: status:ready

#6194 Implement the first batch of solidity build system tests
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/build-system.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/root-paths-utils.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/solc-config-selection.ts
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/artifacts.d.ts
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/build-info/89eed7b31e13eec3ee71467386d39108.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/build-info/89eed7b31e13eec3ee71467386d39108.output.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/build-info/c6d3d46c7bda8aac0e4258c216012f50.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/build-info/c6d3d46c7bda8aac0e4258c216012f50.output.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/A.sol/A.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/A.sol/artifacts.d.ts
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/B.sol/B.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/B.sol/artifacts.d.ts
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/C.sol/C.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/C.sol/C2.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/C.sol/artifacts.d.ts
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/D.sol/artifacts.d.ts
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/E.sol/artifacts.d.ts
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/NoImports.sol/NoImports.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/NoImports.sol/artifacts.d.ts
  v-next/hardhat/test/fixture-projects/solidity/example-project/artifacts/contracts/UserRemappedImport.sol/artifacts.d.ts
  v-next/hardhat/test/fixture-projects/solidity/example-project/contracts/A.sol
  v-next/hardhat/test/fixture-projects/solidity/example-project/contracts/B.sol
  v-next/hardhat/test/fixture-projects/solidity/example-project/contracts/C.sol
  v-next/hardhat/test/fixture-projects/solidity/example-project/contracts/D.sol
  v-next/hardhat/test/fixture-projects/solidity/example-project/contracts/E.sol
  v-next/hardhat/test/fixture-projects/solidity/example-project/contracts/NoImports.sol
  v-next/hardhat/test/fixture-projects/solidity/example-project/contracts/UserRemappedImport.sol
  v-next/hardhat/test/fixture-projects/solidity/example-project/node_modules/@openzeppelin/contracts/access/Ownable.sol
  v-next/hardhat/test/fixture-projects/solidity/example-project/node_modules/@openzeppelin/contracts/package.json
  v-next/hardhat/test/fixture-projects/solidity/example-project/package.json
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/build-system.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/dependency-graph-building.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/dependency-graph.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/root-paths-utils.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/solc-config-selection.ts
Labels: status:ready

#6149 Create v3 typechain plugin
  pnpm-lock.yaml
  v-next/example-project/.gitignore
  v-next/example-project/hardhat.config.ts
  v-next/example-project/package.json
  v-next/example-project/tsconfig.json
  v-next/hardhat-ethers/src/types.ts
  v-next/hardhat-typechain/.eslintrc.cjs
  v-next/hardhat-typechain/.gitignore
  v-next/hardhat-typechain/.prettierignore
  v-next/hardhat-typechain/LICENSE
  v-next/hardhat-typechain/README.md
  v-next/hardhat-typechain/package.json
  v-next/hardhat-typechain/src/index.ts
  v-next/hardhat-typechain/src/internal/config/default.ts
  v-next/hardhat-typechain/src/internal/config/get-config.ts
  v-next/hardhat-typechain/src/internal/config/validation.ts
  v-next/hardhat-typechain/src/internal/generate-types.ts
  v-next/hardhat-typechain/src/internal/hook-handlers/config.ts
  v-next/hardhat-typechain/src/internal/hook-handlers/solidity.ts
  v-next/hardhat-typechain/src/type-extensions.ts
  v-next/hardhat-typechain/src/types.ts
  v-next/hardhat-typechain/test/config-validation.ts
  v-next/hardhat-typechain/test/fixture-projects/.gitignore
  v-next/hardhat-typechain/test/fixture-projects/custom-out-dir/contracts/A.sol
  v-next/hardhat-typechain/test/fixture-projects/custom-out-dir/hardhat.config.ts
  v-next/hardhat-typechain/test/fixture-projects/custom-out-dir/package.json
  v-next/hardhat-typechain/test/fixture-projects/generate-types/contracts/A.sol
  v-next/hardhat-typechain/test/fixture-projects/generate-types/hardhat.config.ts
  v-next/hardhat-typechain/test/fixture-projects/generate-types/package.json
  v-next/hardhat-typechain/test/fixture-projects/nothing-to-generate/contracts/placholder.txt
  v-next/hardhat-typechain/test/fixture-projects/nothing-to-generate/hardhat.config.ts
  v-next/hardhat-typechain/test/fixture-projects/nothing-to-generate/package.json
  v-next/hardhat-typechain/test/fixture-projects/skip-type-generation/contracts/A.sol
  v-next/hardhat-typechain/test/fixture-projects/skip-type-generation/hardhat.config.ts
  v-next/hardhat-typechain/test/fixture-projects/skip-type-generation/package.json
  v-next/hardhat-typechain/test/index.ts
  v-next/hardhat-typechain/test/internal/js-extensions.ts
  v-next/hardhat-typechain/tsconfig.json
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/build-system.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/hook-handlers/hre.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/type-extensions.ts
  v-next/hardhat/templates/mocha-ethers/.gitignore
  v-next/hardhat/templates/mocha-ethers/gitignore
  v-next/hardhat/templates/node-test-runner-viem/.gitignore
  v-next/hardhat/templates/node-test-runner-viem/gitignore
Labels: v-next

#6164 feat: cleanup provider and stack traces logic
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat-utils/src/hex.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/edr-provider.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/errors.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/stack-traces/panic-errors.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/stack-traces/stack-trace-solidity-errors.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/type-validation.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/types/output.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/utils/convert-to-edr.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/http-provider.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/artifacts.ts
  v-next/hardhat/src/internal/constants.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/http-provider.ts
Labels: status:ready, v-next

#6201 Network manager tests
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/edr-provider.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/errors.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/utils/convert-to-edr.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/http-provider.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/provider-errors.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/type-validation.ts
  v-next/hardhat/src/internal/builtin-plugins/node/json-rpc/handler.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/config-resolution.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/edr/edr-provider.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/http-provider.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/network-manager.ts
Labels: status:ready, v-next

#6203 chore: bump EDR to 0.8.0
  .changeset/kind-teachers-applaud.md
  packages/hardhat-core/package.json
  packages/hardhat-core/src/internal/hardhat-network/provider/provider.ts
  packages/hardhat-core/src/internal/hardhat-network/stack-traces/constants.ts
  pnpm-lock.yaml
Labels: status:ready

#6209 perf: load slow modules dynamically
  v-next/hardhat/src/internal/builtin-plugins/network-manager/accounts/derive-private-keys.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/config-resolution.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/edr/utils/convert-to-edr.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/hook-handlers/network.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers-array.ts
  v-next/hardhat/src/internal/builtin-plugins/network-manager/request-handlers/handlers/accounts/hd-wallet-handler.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/edr/edr-provider.ts
  v-next/hardhat/test/internal/builtin-plugins/network-manager/request-handlers/handlers/accounts/hd-wallet.ts
Labels: status:ready, v-next

#6202 ci: make list-packages outputs smaller
  .github/workflows/v-next-ci.yml
Labels: status:ready, v-next

#6125 Support package exports
  pnpm-lock.yaml
  v-next/hardhat-errors/package.json
  v-next/hardhat-errors/src/descriptors.ts
  v-next/hardhat-ethers/package.json
  v-next/hardhat-keystore/package.json
  v-next/hardhat-mocha-test-runner/package.json
  v-next/hardhat-network-helpers/package.json
  v-next/hardhat-node-test-reporter/package.json
  v-next/hardhat-node-test-runner/package.json
  v-next/hardhat-test-utils/package.json
  v-next/hardhat-utils/package.json
  v-next/hardhat-utils/src/package.ts
  v-next/hardhat-utils/src/resolve.ts
  v-next/hardhat-utils/src/string.ts
  v-next/hardhat-utils/test/fixture-projects/find-dependency-packagejson/node_modules/@scope/a/node_modules/a/package.json
  v-next/hardhat-utils/test/fixture-projects/find-dependency-packagejson/node_modules/@scope/a/package.json
  v-next/hardhat-utils/test/fixture-projects/find-dependency-packagejson/node_modules/a/package.json
  v-next/hardhat-utils/test/fixture-projects/find-dependency-packagejson/node_modules/b/node_modules/a
  v-next/hardhat-utils/test/fixture-projects/find-dependency-packagejson/node_modules/b/package.json
  v-next/hardhat-utils/test/package.ts
  v-next/hardhat-utils/test/resolve.ts
  v-next/hardhat-viem/package.json
  v-next/hardhat-zod-utils/package.json
  v-next/hardhat/package.json
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/debug-utils.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/resolver/dependency-resolver.ts
  v-next/hardhat/src/internal/builtin-plugins/solidity/build-system/root-paths-utils.ts
  v-next/hardhat/src/internal/core/plugins/detect-plugin-npm-dependency-problems.ts
  v-next/hardhat/src/types/solidity/resolved-file.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/dependency-resolver.ts
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/NotExported
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/contracts/Exported.sol
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/contracts2/SingleExport.sol
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/contracts3/Main.sol
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/contracts4/Condition-default.sol
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/contracts4/Condition-import.sol
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/contracts4/Condition-nested.sol
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/contracts4/Condition-node.sol
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/contracts4/Condition-require.sol
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/resolver/test-fixtures/monorepo/node_modules/exports/package.json
  v-next/hardhat/test/internal/builtin-plugins/solidity/build-system/root-paths-utils.ts
Labels: status:ready, v-next
